.navbarContainer {
  font-size: 1.5rem;
  display: flex;
  height: 10vh;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #373f57;
  margin: 20px;
}
.listaNavBar {
  list-style: none;
  display: flex;
  flex-direction: inline;
  gap: 30px;
  justify-content: space-between;
  align-items: center;
  min-height: 10vh;
}
/* los estilos del titulo estan en estilos.js */