* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  background-color: #242424;
  background-image: linear-gradient(to bottom right, #242424, #283048, #242424);
  color: rgba(255, 255, 255, 0.87);
  margin: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 3rem;
}

form {
  padding: 50px;
  margin: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  background-color: #2d6ea788;
  border-radius: 5%;
}

.estilosItemList {
  display: flex;
  gap: 20px;
}

@media (min-width: 430px) and (max-width: 770px) {
  .estilosItemList {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

@media (min-width: 771px) {
  .estilosItemList {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
}
